@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "RoadRage";
  src: url("/fonts/Road_Rage.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --highlight-color: #ffffffb2;
}
body {
  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --tertiary-font-family: "Roboto", serif;
  --sign-font-family: "RoadRage", "Playfair Display", serif;

  // Avatar
  --avatar-border-color: var(--primary-color);
  --avatar-bg-color: transparent;

  // Button
  --button-background-color: var(--secondary-color);
  --button-hover-color: var(--primary-color);

  // Card
  --card-padding: 2.5%;

  //Configuration
  --configuration-transition: all ease-in-out 500ms;

  // DropDown
  --dropdown-height: 64px;
  --dropdown-width: 100%;
  --dropdown-label-width: 70%;
  --dropdown-transition-duration: var(--transition-mid);
  --dropdown-arrow-rotate-closed: 90deg;
  --dropdown-arrow-rotate-open: 270deg;
  --dropdown-bg-color: var(--primary-complementary-dark);
  --dropdown-border: 2px solid var(--primary-color);
  --dropdown-border-radius: 4px;
  --dropdown-shadow: 0 4px 10px var(--highlight-color);
  --dropdown-text-color: var(--primary-color);
  --dropdown-text-color-light: var(--primary-color);
  --dropdown-item-hover-bg-color: var(--active-color);
  --dropdown-item-padding: 16px;
  --dropdown-item-margin: 6px;
  --dropdown-error-color: var(--error-color);
  --dropdown-success-color: var(--success-color-light);

  --dropdown-label-item-height: 16px;
  --dropdown-label-item-width: 142px;
  --dropdown-label-item-margin: 4px;
  --dropdown-label-item-padding: 8px;

  // Header
  --header-one-font-color: var(--active-color);
  --header-two-font-color: var(--active-color);
  --header-three-font-color: var(--quaternary-color);
  --header-four-font-color: var(--quaternary-color);
  --header-five-font-color: var(--tertiary-color);
  --header-six-font-color: var(--secondary-color);

  // Input
  --input-border-color: var(--secondary-color);
  --input-focus-color: var(--primary-color);
  --input-font-color: var(--primary-color);

  --input-height: 100%;

  // Navbar
  --navbar-height: 8vh;
  --navbar-item-active-color: var(--active-color);
  --navbar-underline-active-border: 1px solid var(--active-color);

  // Page
  --page-padding: 5vh;
  --page-margin: var(--navbar-height);
  --page-height: calc(100vh - var(--navbar-height) - 2 * var(--page-padding));
  --page-width: calc(100vw - 2 * var(--page-padding));

  // Spotify
  --spotify-album-size: 244px;

  // Default Tech
  --tech-icon-margin: 24px;
  --tech-icon-size: 48px;

  // TimeLine
  --timeline-bar-box-shadow: 0px 0px 10px var(--highlight-color);
  --timeline-bar-color: var(--primary-color);

  --timeline-content-bg-color: var(--light-background-color);
  --timeline-content-box-shadow: none;
  --timeline-content-hover-box-shadow: 0px 0px 14px var(--highlight-color);

  --timeline-date-color: var(--primary-color);

  --timeline-description-color: var(--primary-color);
  --timeline-description-event-font-color: var(--secondary-color);
  --timeline-description-location-font-color: var(--tertiary-color);
  --timeline-description-link-font-color: var(--quaternary-color);
  --timeline-description-position-font-color: var(--quinary-color);

  // Wrapper Text
  --wrapper-text-hover-color: var(--active-color);
  --wrapper-text-initial-animation-delay: 0.1s;

  // body css
  padding: 0;
  margin: 0;

  cursor: url("/icons/circle.svg"), auto;

  font-family: var(--primary-font-family);
  font-weight: 300;
  font-optical-sizing: auto;

  color: var(--primary-color);

  background-color: rgba(0, 0, 0, 0.918);
  filter: sepia(21%);

  // body::after {
  //   content: "";
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   pointer-events: none;
  //   background-image: url("/images/noise-background.jpg");
  //   background-repeat: repeat;
  //   background-size: contain;
  //   opacity: 0.5;
  //   z-index: 9999;
  //   mix-blend-mode: multiply;
  // }

  h1 {
    color: var(--header-one-font-color);
  }

  h2 {
    color: var(--header-two-font-color);
  }

  h3 {
    color: var(--header-three-font-color);
  }

  h4 {
    color: var(--header-four-font-color);
  }

  h5 {
    color: var(--header-five-font-color);
  }

  h6 {
    color: var(--header-six-font-color);
  }

  svg {
    fill: var(--primary-color);
    stroke: var(--secondary-color);
  }

  #id {
    display: none;
  }

  .avatar {
    background-color: transparent !important;

    svg {
      fill: var(--primary-color);
      stroke: var(--secondary-color);
    }
  }

  .avatar-links {
    margin-right: 35px;
    display: inline-block;
  }

  .card {
    backdrop-filter: blur(2px) !important;
    background: var(--light-background-color) !important;
  }

  .carousel-dot-container {
    width: 100%;

    .carousel-dot-button {
      height: 12px;
      width: 12px;
      border-radius: 100%;
      border: 1px solid var(--primary-color);
      margin: 0px 6px;
      transition: all 500ms ease;
      cursor: pointer;
    }
    .carousel-dot-button-active {
      scale: 1.25;
      background-color: var(--active-color);
    }
  }

  .configure {
    .lazy-loader-content {
      transition: var(--configuration-transition);
    }
  }

  .display-flex {
    display: flex;
  }

  .display-flex-start {
    justify-content: flex-start;
  }

  .display-flex-end {
    justify-content: flex-end;
  }

  .display-flex-center {
    justify-content: center;
    align-items: center;
  }

  .display-justify-center {
    justify-content: center;
  }

  .display-justify-even {
    justify-content: space-evenly;
  }

  .display-justify-between {
    justify-content: space-between;
  }

  .display-align-center {
    align-items: center;
  }

  .display-align-col {
    flex-direction: column;
  }

  .display-align-row {
    flex-direction: row;
  }

  .display-flex-wrap {
    flex-wrap: wrap;
  }

  .home-landing-subtitle,
  .home-landing-title {
    width: 100%;

    .wrapper-text-container {
      height: inherit;
    }
  }

  .input-container {
    height: inherit;
  }

  .navbar-vertical-overlay {
    .navbar-menu {
      height: 80vh;
    }
  }

  .project-github,
  .project-page-github {
    a {
      color: var(--active-color-complementary) !important;
      text-decoration: none;
    }
    code {
      background-color: rgba(0, 0, 0, 0.637);
      padding: 8px;
      border-radius: 5px;
    }
    pre {
      padding: 18px 8px;
      background-color: rgba(0, 0, 0, 0.637);
      border-radius: 5px;
      border: 1px dashed var(--highlight-color);
      text-wrap: auto;

      code {
        display: block;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }

    ol {
      li {
        line-height: 2;
      }
    }
  }

  .project-github {
    --card-width: auto;
    --card-height: 100%;
    --card-margin: 0;
    --card-text-color: var(--primary-color);
    --card-hover-scale: 1;
  }

  .project-spotify {
    --card-width: auto;
    --card-height: 100%;
    --card-margin: 42px 0;
    --card-hover-scale: 1;

    img {
      width: auto;
      height: auto;
      border-radius: 5px;
    }

    .spotify-album-artists {
      a {
        text-decoration: none;
        color: var(--active-color);
      }
    }

    .spotify-album-profile {
      a {
        text-decoration: none;
        color: var(--quaternary-color);
      }
    }
  }

  .project-page-spotify-songs {
    h2 {
      margin-top: 0;
    }
  }

  .timeline-content {
    backdrop-filter: blur(2px);
    cursor: pointer;
  }

  .timeline-description-event {
    text-transform: capitalize;
  }

  @media only screen and (max-width: 650px) {
    --page-padding: 3vh;
  }

  @media only screen and (max-width: 420px) {
    .timeline-description-card {
      max-width: 200px;
    }

    .timeline-description-position {
      max-width: 200px;
    }
  }

  @media only screen and (max-width: 360px) {
    .timeline-description-card {
      max-width: 160px;
    }

    .timeline-description-position {
      max-width: 160px;
    }
  }
}
